# Arquivo de configuração
# As opções são sempre do tipo opção=valor

# Quantas instruções uma função chamada pelo programa pode
# executar antes do controle retornar ao programa
# Se estiver ausente, assume 5000
exec = 5000

# Se deve abrir uma janela de texto - variável telatxt
# 0 não abre, 1 abre
telatxt = 1
