#include "windows.h"
#include "editmud-resource.h"

IDD_APAGAR DIALOGEX DISCARDABLE 0, 0, 277, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Apagar classe"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Nome da classe",IDC_STATIC,7,12,70,8
    EDITTEXT        IDC_APAGARTXT,70,10,140,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK",IDOK,220,10,50,14
    PUSHBUTTON      "&Cancelar",IDCANCEL,220,30,50,14
END

IDD_ARQNOVO DIALOGEX DISCARDABLE 0, 0, 277, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Novo arquivo"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Nome da classe",IDC_STATIC,7,12,70,8
    EDITTEXT        IDC_ARQNOVOTXT,70,10,140,14,ES_AUTOHSCROLL
    CHECKBOX        "Ler classe após criar arquivo",IDC_CHKNOVO,70,30,140,10
    DEFPUSHBUTTON   "&OK",IDOK,220,10,50,14
    PUSHBUTTON      "&Cancelar",IDCANCEL,220,30,50,14
END

IDD_CONFIG DIALOGEX DISCARDABLE 0, 0, 277, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configuração"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Endereço",IDC_STATIC,7,12,70,8
    LTEXT           "Porta",IDC_STATIC,7,32,70,8
    LTEXT           "Senha",IDC_STATIC,7,52,70,8
    EDITTEXT        IDC_ENDER,70,10,140,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_PORTA,70,30,140,14,ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT        IDC_SENHA,70,50,140,14,ES_AUTOHSCROLL|ES_PASSWORD
    DEFPUSHBUTTON   "&OK",IDOK,220,10,50,14
    PUSHBUTTON      "&Cancelar",IDCANCEL,220,30,50,14
END
